<%content_for(:title, "Recover password") %>


<h1>Recover password</h1>

<% form_tag remind_password_path do -%>
<p>Enter your email that you used for registration.<br/>
You will receive instructions for your password recovery.</p>
<hr/>
<p><%= label_tag 'email', "Email" %><br/>
<%= text_field_tag  :email, "", :class=>"text" %></p>

<p><%= submit_tag 'Recover my password', :id=>"user_submit"%></p>
<% end -%>
