<%content_for(:title, "Recover password") %>
<h3 class="form_title">Recover password</h3>

<% form_tag forgot_password_path do -%>
<fieldset class='form'>
  <ol class="nospace form">
    <li>
      Enter your email that you used for registration.<br/>
      You will receive instructions for your password recovery.
    </li>
    <li>
      <%= label_tag 'email', "Email" %><br/>
<%= text_field_tag  :email, "", :class=>"text" %>
    </li>
    <li>
      <%= submit_tag 'Recover my password', :class=>"submit", :id=>"user_submit"%>
    </li>
  </ol>
</fieldset> 
<% end -%>
