<%content_for (:title, "Welcome") %>
<div style="height:100px;">
<h4>Hello Guest!</h4> 
Would you be so kind to <%= link_to "log in",  login_path,  { :title => "Log in" } %> or <%= link_to "sign up", signup_path, { :title => "Create an account" } %>.
</div>